body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .content {
    padding: 50px;
    text-align: center;
  }

  .center-image {
    display: block;
    margin: -20px auto 20px;
    max-width: 40%;
    height: auto;
  }

  .center-iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    }

  .center-iframe {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    }

  .top-buttons {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
  
  .top-button {
      padding: 3px 5px;
      background-color: #f2f2f2;
      border: 1px solid #ddd;
      border-radius: 5px;
      text-decoration: none;
      color: #333;
      flex: 1; /* Distribute available space evenly */
      text-align: center; /* Center the button text */
      margin-right: 0.05em;
    }

    .project-list {
      list-style: none; /* Remove the bullet points */
      padding: 0;
    }
    
    .project-list li {
      margin-bottom: 10px; /* Add space between project names */
    }

    .column-container {
      display: flex;
      justify-content: center;
      margin: 10px;
    }

    .column {
      width: 25%; /* Adjust the width based on your design */
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
    }

    .column a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
    }

    .column h2 a {
      font-size: 18px; /* Adjust the font size for column names */
      font-weight: bold;
    }

    .name-element {
  text-align: center;
    }

    .centered-text {
      text-align: center;
      margin: 0 20px; /* Adjust the margin as needed */
    }
