body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

   .icon {
        background: url('https://uxwing.com/flickr-icon/');
        height: 20px;
        width: 20px;
        display: block;
    }
  
  .content {
    padding: 50px;
    text-align: center;
  }

  .center-image {
    display: block;
    margin: -20px auto 20px;
    max-width: 40%;
    height: auto;
  }

  .top-buttons {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }
  
  .top-button {
      padding: 5px 8px;
      background-color: #f2f2f2;
      border: 1px solid #ddd;
      border-radius: 5px;
      text-decoration: none;
      color: #333;
      flex: 1; /* Distribute available space evenly */
      text-align: center; /* Center the button text */
      margin-right: 0.1em;
    }
  
